* {
    margin: 0;
    padding: 0;
}
a:active,
a:focus {
    outline: none;
}
.clearfix::after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}
input,
textarea {
    outline: none;
}
input:active,
textarea:active {
    outline: none;
}
:focus {
    outline: none;
}
textarea {
    resize: none;
}
textarea {
    resize: vertical;
}
textarea {
    resize: horizontal;
}
li {
    list-style-type: none;
}
body {
    background-color: #2e2e2e;

}


.block__1 {
    float: left;
    width: 533px;
    height: 838px;
    margin-left: 39px;
    margin-top: 62px;
}
.block__1__content {
    /* Style for "Rectangle" */

    /* min-height: 92vh; */
    border-radius: 32px;

    position: relative;
    /* Style for "Rectangle" */
    width: 533px;
    height: 838px;
    background-color: #1f1f1f;
}
.list {
    height: 758px;
    width: 390px;
    padding-top: 60px;
    padding-left: 10px;

}
.list__person {
    /* padding-top: 60px; */
    height: 758px;
    width: 450px;
    margin-left: 31px;
    overflow-y: scroll;
    overflow-y: auto;
    /* max-height: 82vh; */
}
.person {
    /* Style for "Rectangle" */
    width: 400px;
    height: 70px;
    border-radius: 30px;
    background-color: #313131;
    /* margin-bottom: 20px; */
    padding: 5px 10px 10px 10px;
    margin-bottom: 10px;
}
.person__avatar {
    /* Style for "Ellipse 9" */
    width: 70px;
    height: 70px;
    margin-top: 2px;

    /* background: url(../img/foto.jpg); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}


.person__name {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
}
.person__info {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.block__1__title__contanier {
    /* Style for "Rectangle" */
    position: absolute;
    top: 34px;
    left: 148px;
    /* Style for "Rectangle" */
    width: 315px;
    height: 50px;
    background-color: #474747;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
}
.block__1__title {
    /* Style for "Ваші діало" */
    width: 121px;
    height: 28px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.block__2 {
    width: 1265px;
    height: 838px;
    float: right;
    margin-right: 39px;
    margin-top: 62px;
}
.block__2__content {
    width: 1265px;
    height: 838px;
    background-color: #1f1f1f;
    border-radius: 32px;
    position: relative;
}

.chat {
    width: 1127px;
    height: 768px;
    padding-top: 57px;
    margin-left: 69px;
}
.chat-history {
    width: 1127px;
    height: 600px;
}
.block__chat {
    margin-top: 2px;
}

.input__chat {
    width: 94.5%;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #797979;
    background-color: rgb(0, 0, 0, 0);
    color: #aaaaaa;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 400;
    resize: none;
    padding: 5px 30px 5px 30px;
}
.block__send__button {

    padding-top: 10px;
}
.send__button {
    /* Style for "Rectangle" */
    width: 183px;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0, 0);
}
.profile__button{
    float: left;
}
.logout__button{
    margin-left: 25%;
}
.send_btn{
    float: right;
}
.send__button__text {
    /* Style for "Надіслати" */
    width: 90px;
    height: 28px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 400;
}

.block__2__title__contanier {
    /* Style for "Rectangle" */
    width: 16.5%;
    height: 47px;
    border-radius: 30px;
    background-color: #474747;
    position: absolute;
    top: 34px;
    left: 58.1%;
    text-align: center;
    padding-top: 20px;
}
.block__2__title {
    /* Style for "Загальний" */
    width: 134px;
    height: 28px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* Chat */
.chat .chat-history,
.room .room-list {
    /* padding: 10px 30px 20px; */
    border-bottom: 2px solid white;
    overflow-y: auto;
    /* max-height: 580px; */
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
    font-size: 80%;
    /* Style for "11: 05" */
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 30px;
    /*width: 90%;*/
    position: relative;
    /* Style for "Вихажу на" */

    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #474747;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    border-radius: 30px;
    background-color: #474747;
    margin-right: 20px;
}
.chat-history ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.chat .chat-history .my-message {
    text-align: initial;
}
@media screen and (device-width: 1366px) {

    .block__1 {
        float: left;
        width: 420px;
        height: 580px;
        margin-left: 25px;
        margin-top: 42px;
    }
    .block__1__content {
        border-radius: 32px;
        position: relative;
        width: 420px;
        height: 580px;
        background-color: #1f1f1f;
    }
    .list {
        height: 580px;
        width: 420px;
        padding-top: 60px;
        padding-left: 0px;

    }
    .list__person {
        height: 480px;
        width: 390px;
        margin-left: 25px;
        overflow-y: scroll;
        overflow-y: auto;
    }
    .person {
        width: 350px;
        height: 70px;
        border-radius: 30px;
        background-color: #313131;
        padding: 5px 10px 10px 10px;
        margin-bottom: 10px;
    }
    .person__avatar {
        width: 70px;
        height: 70px;
        margin-top: 2px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 80px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }

    .person__text {
        width: 75%;
        float: right;
    }
    .person__name {
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
    }
    .person__info {
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
    }
    .block__1__title__contanier {
        /* Style for "Rectangle" */
        position: absolute;
        top: 14px;
        width: 200px;
        height: 50px;
        background-color: #474747;
        border-radius: 30px;
        text-align: center;
    }
    .block__1__title {
        /* Style for "Ваші діало" */
        width: 121px;
        height: 28px;
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
    }

    .block__2 {
        width: 850px;
        height: 580px;
        float: left;
        margin-left: 25px;
        margin-top: 42px;
        margin-right: 0;
    }
    .block__2__content {
        width: 850px;
        height: 580px;
        background-color: #1f1f1f;
        border-radius: 32px;
        position: relative;
    }

    .chat {
        width: 800px;
        height: 518px;
        padding-top: 57px;
        margin-left: 40px;
    }
    .chat-history {
        width: 790px;
        height: 342px;
    }
    .block__chat {
        margin-top: 2px;
        width: 790px;
    }

    .input__chat {
        width: 730px;
        height: 56px;
        border-radius: 30px;
        border: 1px solid #797979;
        background-color: rgb(0, 0, 0, 0);
        color: #aaaaaa;
        font-family: "Segoe UI";
        font-size: 20px;
        font-weight: 400;
        resize: none;
        padding: 5px 30px 5px 30px;
    }
    .block__send__button {
        /* float: right; */
        padding-top: 10px;
    }
    .profile__button{
        float: left;
    }
    .logout__button{
        margin-left: 15%;
    }
    .send__button {
        /* Style for "Rectangle" */
        width: 183px;
        height: 56px;
        border-radius: 30px;
        border: 1px solid #ffffff;
        background-color: rgb(0, 0, 0, 0);
    }
    .send__button__text {
        /* Style for "Надіслати" */
        width: 90px;
        height: 28px;
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 20px;
        font-weight: 400;
    }

    .block__2__title__contanier {

        width: 200px;
        height: 50px;
        border-radius: 30px;
        background-color: #474747;
        position: absolute;
        top: 14px;
        left: 800px;
        text-align: center;
        padding-top: 20px;
    }
    .block__2__title {
        /* Style for "Загальний" */
        width: 134px;
        height: 28px;
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
    }

    /* Chat */
    .chat .chat-history,
    .room .room-list {
        /* padding: 10px 30px 20px; */
        border-bottom: 2px solid white;
        overflow-y: auto;
        /* max-height: 580px; */
    }
    .chat .chat-history .message-data {
        margin-bottom: 15px;
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
    }
    .chat .chat-history .message-data-time {
        color: #a8aab1;
        padding-left: 6px;
        font-size: 80%;
        /* Style for "11: 05" */
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
    }
    .chat .chat-history .message {
        color: white;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 30px;
        /*width: 90%;*/
        position: relative;
        /* Style for "Вихажу на" */

        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
    }
    .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #474747;
        border-width: 10px;
        margin-left: -10px;
    }
    .chat .chat-history .my-message {
        border-radius: 30px;
        background-color: #474747;
        margin-right: 20px;
    }
    .chat-history ul {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .chat .chat-history .my-message {
        text-align: initial;
    }

}
